<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="Gopher Way - choose your own gopher way." />
        <meta name="keywords" content="Go, Golang, Google Go, gopher, gophers" />
        <meta name="author" content="Vasyl Nakvasiuk" />
        <link rel="shortcut icon" href="static/img/favicon.png" />
        <title>Gopher Way - choose your own gopher way</title>

        <!-- Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,500,700|Open+Sans:400italic,300,400,700" rel="stylesheet" type="text/css"/>

        <!-- CSS Stylesheets -->
        <link rel="stylesheet" media="screen" href="static/css/font-awesome.min.css" />
        <link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="static/css/style.css" />
    </head>

    <body>

        <!-- Header -->
        <header>

            <div class="container content">
                <div class="row">
                    <div class="header-left-text">
                        <img id="logo" src="static/img/logo.png" alt="gopherway logo" width="50" />
                        <h5>Gopher Way</h5>
                    </div>
                    <div class="header-right-text">
                        <h5><a href="mailto:info@gopherway.com">info@gopherway.com</a></h5>
                    </div>
                </div>
                <h1 id="main-text">"Kyiv GO meet-up 2015" is coming</h1>
                <h2 id="main-text">06.09.2015</h2>
                <h3 id="second-text">Choose your own gopher way</h3>

                <!-- Countdown start -->
                <div id="countdown_dashboard">
                    <div class="dash weeks_dash">
                        <span class="dash_title">weeks</span>
                        <div class="digit">0</div>
                        <div class="digit">0</div>
                    </div>
                    <div class="dash days_dash">
                        <span class="dash_title">days</span>
                        <div class="digit">0</div>
                        <div class="digit">0</div>
                    </div>
                    <div class="dash hours_dash">
                        <span class="dash_title">hours</span>
                        <div class="digit">0</div>
                        <div class="digit">0</div>
                    </div>
                    <div class="dash minutes_dash">
                        <span class="dash_title">minutes</span>
                        <div class="digit">0</div>
                        <div class="digit">0</div>
                    </div>
                    <div class="dash seconds_dash">
                        <span class="dash_title">seconds</span>
                        <div class="digit">0</div>
                        <div class="digit">0</div>
                    </div>
                </div>
                <!-- Countdown end -->

            </div>
        </header>
        <!-- End Header -->

        <!-- Newsletter Section -->
        <section id="newsletter">
            <div class="container content">

                <h2>SUBSCRIBE TO OUR NEWSLETTER</h2>

                <!-- Newsletter Form -->
                <form id="n_letter" class="row" role="form" method="post" name="newsletter" action="/subscribe/">
                    <div class="col-lg-4">
                        <!--[if lt IE 10]>
                            <div class="ie-placeholder n-name">Name</div>
                        <![endif]-->
                        <input id="n_name" name="name" type="text" placeholder="Name" />
                        <div id='n_name_error' class="error">Name missing</div>
                    </div>
                    <div class="col-lg-5">
                        <!--[if lt IE 10]>
                            <div class="ie-placeholder n-email">Email Address</div>
                        <![endif]-->
                        <input id="n_email" name="email" type="text" placeholder="Email Address" />
                        <div id='n_email_error' class="error">Email Address Missing</div>
                    </div>
                    <div class="col-lg-3">
                        <input id="subscribe_button" class="btn" type="submit" name="submit" value="NOTIFY ME">
                        <div id='n_success' class="success">You have subscribed successfully</div>
                        <div id='n_fail' class="error"></div>
                    </div>
                </form>
                <!-- End Newsletter Form -->

            </div>
        </section>
        <!-- End Newsletter Section -->

        <!-- Features Section -->
        <section id="features">
            <div class="container content">

                <h2>Features</h2>

                <div class="row">
                    <div class="col-sm-6 col-lg-3 item">
                        <i class="icon-inbox"></i>
                        <p>Go is an open source programming language that makes it easy to build simple, reliable, and efficient software.
                        </p>
                    </div>
                    <div class="col-sm-6 col-lg-3 item">
                        <i class="icon-location-arrow"></i>
                        <p>GopherWay.com – a place, where gophers from all around the world can share their experience, knowledge and create a cool Go community.
                        </p>
                    </div>
                    <div class="col-sm-6 col-lg-3 item">
                        <i class="icon-fire"></i>
                         <p>Kyiv GO meet-up – the first Go meet-up in Ukraine. We want to create a meet-up for gophers and people who want to know something about the Go language.
                        </p>
                    </div>
                    <div class="col-sm-6 col-lg-3 item">
                        <i class="icon-laptop"></i>
                         <p>We love to develop something awesome and useful. Hey, gopher! Let's do that! Come and join us to create this community together.
                        </p>
                    </div>
                </div>

            </div>
        </section>
        <!-- End Features Section -->

        <!-- Features Section -->
        <section id="features">
            <div class="container content">

                <h2>Thanks to Our Sponsors</h2>

                <div class="row">
                    <div class="col-sm-6 col-lg-3 item">
                        <a href="http://www.ciklum.com/" target="_blank">
                            <img src="static/img/ciklum-logo.png" width="230" />
                        </a>
                        <p>Ciklum is your trusted partner in agile and cost-effective software engineering. Onshore, offshore, or nearshore custom software development models.
                        </p>
                    </div>
                    <div class="col-sm-6 col-lg-3 item">
                        <a href="https://www.brightlocal.com/jobs" target="_blank">
                            <img src="static/img/brightlocal-logo.png" width="230" />
                        </a>
                        <p>BrightLocal is a leading SaaS product used by 10,000+ digital marketing experts. Based in UK and with a development hub in Kiev we’re a growing business with global ambitions. We’re recruiting now!
                        </p>
                    </div>
                    <div class="col-sm-6 col-lg-3 item">
                        <a href="http://www.iron.io/" target="_blank">
                            <img src="static/img/iron.io-logo.png" width="230" />
                        </a>
                        <p>Iron Team it's a group of technologists, cloud architects, and system developers — with long-time expertise in building cloud apps and then translating that into high-performance cloud infrastructure services.
                        </p>
                    </div>
                    <div class="col-sm-6 col-lg-3 item">
                        <a href="http://golangshow.com/" target="_blank">
                            <img src="static/img/golangshow-logo.png" width="130" style="margin-top: -16px; margin-bottom: -18px;" />
                        </a>
                        <p>Podcast GolangShow – Russian-language website and podcast about our favorite Go.
                        </p>
                    </div>
                </div>

            </div>
        </section>
        <!-- End Features Section -->

        <!-- End About Section -->
        <section id="social">
            <div class="container content">

                <h2>CONNECT WITH US</h2>

                <!-- Social Icons -->
                <ul class="social-icon-container">
                    <li>
                        <a href="http://vk.com/gopherway" target="_blank">
                            <img src="static/img/social-icons/vkontakte.png" alt="vkontakte" />
                        </a>
                    </li>
                    <li>
                        <a href="http://facebook.com/gopherway" target="_blank">
                            <img src="static/img/social-icons/facebook.png" alt="facebook" />
                        </a>
                    </li>
                    <li>
                        <a href="http://twitter.com/gopherway" target="_blank">
                            <img src="static/img/social-icons/twitter.png" alt="twitter" />
                        </a>
                    </li>
                    <li>
                        <a href="http://youtube.com/user/gopherway" target="_blank">
                            <img src="static/img/social-icons/youtube.png" alt="youtube" />
                        </a>
                    </li>
                </ul>
                <!-- End Social Icons -->

            </div>
            <img id="social-gopher" src="static/img/social-gopher.png" alt="social gopher" width="200" />
        </section>

        <!-- Locate Section -->
        <section id="locate">
            <div class="container content">

                <div id="Gmap"></div>

                <input id="view-map" type="checkbox" class="view-map-selector">

                <div id="view-address-btn">
                    <label for="view-map" class="btn" >VIEW ADDRESS</label>
                </div>

                <div id="locate-overlay">
                    <div class="div-1">
                        <div>
                            <h2>Locate Us</h2>
                            <p>
                                Kyiv GO meet-up #2<br>
                                12 Amosova St.<br>
                                Ciklum SkyPoint<br>
                                Kyiv<br>
                                Ukraine
                            </p>
                        </div>
                        <div>
                            <label for="view-map" class="btn">VIEW MAP</label>
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <!-- End Locate Section -->

        <a href="#" class="scrollup"></a>

        <!-- Javascript -->
        <script src="static/js/jquery.1.10.1.js" type="text/javascript"></script>
        <script src="static/js/jquery.lwtCountdown-1.0.js" type="text/javascript"></script>
        <script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=false&amp;language=en"></script>
        <script src="static/js/gmap3.min.js" type="text/javascript" ></script>
        <script src="static/js/ie-placeholder.js" type="text/javascript" ></script>
        <script src="static/js/validation.js" type="text/javascript" ></script>

        <!-- Countdown Setup Script -->
        <script type="text/javascript">
            $(document).ready(function() {
                $('#countdown_dashboard').countDown({
                    targetDate: {
                        'day': 6,
                        'month': 9,
                        'year': 2015,
                        'hour': 11,
                        'min': 00,
                        'sec': 0
                    },
                    // onComplete function
                    onComplete: function() {
                        $('#main-text').replaceWith('<h2 class="#main-text">WE ARE FINISHED!</h2>');
                        $('#second-text').replaceWith('<h3 class="#second-text">Please wait while we finish updating the site.</h3>');
                    }

                });
            });
        </script>
        <!-- End Countdown Setup -->

        <!-- Gmaps -->
        <script type="text/javascript">
            $("#Gmap").gmap3({
             map: {
                options: {
                  maxZoom: 16,
                    zoomControl:false,
                    streetViewControl:false
                }
             },
             marker:{
                address: "12 Amosova St., Kyiv, Kyiv city, Ukraine",
                options: {
                 icon: new google.maps.MarkerImage(
                   "static/img/marker.png",
                   new google.maps.Size(32, 46, "px", "px")
                 )
                }
             }
            },
            "autofit");
        </script>

        <script>
            $(document).ready(function(){
                $(window).scroll(function(){
                    if ($(this).scrollTop() > 100) {
                        $('.scrollup').fadeIn();
                    } else {
                        $('.scrollup').fadeOut();
                    }
                });

                $('.scrollup').click(function(){
                    $("html, body").animate({ scrollTop: 0 }, 600);
                    return false;
                });
            });
        </script>

        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-48585631-1', 'gopherway.com');
          ga('send', 'pageview');

        </script>

        <!-- End Javascripts -->

    </body>

</html>
